@model IEnumerable<AgoraVaiRecursosHumanos.Models.Cargos>

@{ ViewBag.Title = "Index"; }

<h2>Cargos</h2>

<p>
    <a class="btn btn-success" href="/cargos/create">Cadastrar</a>
</p>
<table class="table table-striped" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meta)
            </th>
            <th></th>
        </tr>
        </thead>
    <tbody>


        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meta)
        </td>
        <td>
            <a class="btn btn-primary" href="/Cargos/Details/@item.Id"> Consulta </a> |
            <a class="btn btn-warning" href="/Cargos/edit/@item.Id">Editar </a> |
            <a class="btn btn-danger" href="/Cargos/delete/@item.Id">Excluir </a>

        </td>
    </tr>
}
    </tbody>
</table>


