@{
    ViewBag.Title = "Sobre";
}
<h2><strong>@ViewBag.Title</strong></h2>
<h3>Sobre o sistema</h3>

<p>Sistema web de cadastro de funcionarios de Recursos humanos, desenvolvido com o Modelo "MVC", e banco de dados "SQLServer".</p>
<style>
    body {
        background-color: rgba(146, 213, 235, 0.7);
    }
</style>

