@{
    ViewBag.Title = "Contato";
}
<h2><strong>@ViewBag.Title</strong></h2>
<h4>Desenvolvedores</h4>

<address>
    Vinicius Calgaro<br />
    Alvaro Makoto <br />
    Vinicius Lima <br />
    Gabriel Szucs <br />
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:vinicius.calgaro@fatec.sp.gov.br">vinicius.calgaro@fatec.sp.gov.br</a><br />
    <strong>Suporte:</strong>   <a href="mailto:alvaro.imai@fatec.sp.gov.br">alvaro.imai@fatec.sp.gov.br</a><br />
    <strong>Suporte:</strong>   <a href="mailto:gabriel.souza102@fatec.sp.gov.br">gabriel.souza102@fatec.sp.gov.br</a><br />
    <strong>Suporte:</strong>   <a href="mailto:vinicius.brasil@fatec.sp.gov.br">vinicius.brasil@fatec.sp.gov.br</a><br />
</address>
<style>
    body {
        background-color: rgba(146, 213, 235, 0.7);
    }
</style>