
@{
    ViewBag.Title = "Guia";
}

<div class="container">
    <h1>O que desejá fazer?</h1>
    <a class="btn btn-primary" href="/Funcionarios">Funcionarios</a>
    <a class="btn btn-primary" href="/Cargos">Cargos</a>
    <a class="btn btn-primary" href="/Departamentos">Departamentos</a>
    <a class="btn btn-primary" href="/Horas/Create">Atribuir horas</a>
</div>

