@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Recursos Humano</h1>
    <p class="lead">Sistema desenvolvido para a materia de projeto de engenharia de software</p>
    <p><a href="https://github.com/VeniLima/Projeto-Fatec" class="btn btn-primary btn-lg">Codigo Fonte</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Sou funcionario</h2>
        <p>
            Caso já seja cadastrado no sistema, clique no botão abaixo para se conectar
        </p>
        <p><a class="btn btn-default" href="/Home/Login">Conecte-se &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Fui contratado recentemente</h2>
        <p >Caso ainda não tenha cadastro, clique no botão abaixo para se cadastrar</p>
        <p><a class="btn btn-default" href="/Usuarios/Create">Cadastra-se &raquo;</a></p>
    </div>
    
</div>